*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}

header {
    padding: 12px 2%;
    color: white;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(84, 56, 150);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: white;
    height: 90%;
}

main .StartPage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .TestPage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer{
    display: flex;
    background-color: rgb(250, 219, 224);
    height: 5.5%;
}